<!-- Fixed footer -->
<nav class="navbar fixed-bottom navbar-dark bg-dark">
    <div class="container-fluid navbar-footer">
        <a href="/home" ><img src="Assets/Profile_pic.jpg" style="float:left" alt="Profile pic"> </a>
        <h6 class="navbar-text">&copy; Copyright 2023 by Kelvin Wong.</h6>
        <h6 class="navbar-text"> email: kelvin.wong2@ontariotechu.net</h6>
        <h6 class="navbar-text"> email: kelvin.wong2@ontariotechu.net</h6>
    </div>
</nav>
<!-- Footer section with contact information -->
<!--<div class="footer">
    <footer>
        <a href="index.html" ><img src="Assets/Profile_pic.jpg" style="float:left" alt="Profile pic"> </a>
        <p>email: kelvin.wong2@ontariotechu.net</p>
        <p>&copy; 2023 by Kelvin Wong</p>
    </footer>
</div>-->