<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <!-- Create a profile image and link it to the home page -->
        <a href="/home" ><img src="Assets/Profile_pic.jpg" alt="Profile pic"> </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <% if (title == "Home") { %>
                    <a class="nav-link text-color" aria-current="page" href="/home"> <i class="fa-solid fa-house-chimney fa-beat-fade"></i>
                        <% } else { %>
                        <a class="nav-link" href="/home"> <i class="fa-solid fa-house-chimney"></i>
                            <% } %>
                            Home</a></a>
                </li>

                <li class="nav-item">
                    <% if (title == 'About Me') { %>
                    <a class="nav-link text-color" aria-current="page" href="/aboutme"><i class="fa-solid fa-address-card fa-beat-fade"></i>
                        <% } else { %>
                        <a class="nav-link" href="/aboutme"><i class="fa-solid fa-address-card"></i>
                            <% } %>
                            About Me</a></a>
                </li>

                <li class="nav-item">
                    <% if (title == 'Projects') { %>
                    <a class="nav-link text-color" aria-current="page" href="/projects"><i class="fa-solid fa-diagram-project fa-beat-fade"></i>
                        <% } else { %>
                        <a class="nav-link" href="/projects"><i class="fa-solid fa-diagram-project"></i>
                            <% } %>
                            Projects</a></a>
                </li>

                <li class="nav-item">
                    <% if (title == 'Tasks') { %>
                    <a class="nav-link text-color" aria-current="page" href="/task-list"><i class="fa-solid fa-table-list fa-beat-fade"></i>
                        <% } else { %>
                        <a class="nav-link" href="/task-list"><i class="fa-solid fa-table-list"></i>
                            <% } %>
                            Tasks</a></a>
                </li>

                <li class="nav-item">
                    <% if (title == 'Contact') { %>
                    <a class="nav-link text-color" aria-current="page" href="/contact"><i class="fa-solid fa-inbox fa-beat-fade"></i>
                        <% } else { %>
                        <a class="nav-link" href="/contact"><i class="fa-solid fa-inbox"></i>
                            <% } %>
                            Contact</a></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--
 Set up tabs for the different pages
<div class="Tabs">
    <header>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="aboutme.ejs">About Me</a></li>
                <li><a href="projects.html">Projects</a></li>
                <li><a href="contact.ejs">Contact Me</a></li>
            </ul>
            Create a profile image and link it to the home page
            <a href="index.html" ><img src="Assets/Profile_pic.jpg" style="float:right" alt="Profile pic"> </a>
        </nav>
    </header>
</div> -->